nav a {
    color: crimson;
    text-decoration: none;
}

.about blockquote {
    background-color: #eaeaea;
}

.users span {
    font-weight: 600;
}

.users span:nth-child(2) {
    color: crimson;
}

/* or .users span:nth-of-type(2) */

.creators .link {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.creators .link.font {
    font-family: 'PT Serif', serif;
    font-weight: 700;
}

.cta h2 {
    color: crimson;
    font-family: 'Lato', sans-serif;
}

.cta li:nth-child(odd) {
    text-decoration: underline;
}

/* added for animation */

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: crimson;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* added for animation */